<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/Website/style.css')}}">
    <title>CSUN ARCS Astro Cultivator</title>
</head>
<body>
    <div class="container-main">
        <div class="hero-image">
            <img src="Astro_cult_logo.png">
            <h1>Astro Cultivator Dashboard</h1>
            <img src="CSUN_ARCS_logo.png">
        </div>
        <main>
            <div class="left">
                <div class="serial-terminal">
                    <h3>Serial Terminal</h3>
                    <div class="input-area">
                        <textarea placeholder="Enter Command Here..."></textarea>
                    </div>
                </div>
                <div class="plant-status">
                    <h3>Plant Status Update</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec facilisis tellus quis est pretium, nec varius lacus fermentum. 
                        Fusce mollis molestie lectus vitae condimentum. 
                        In hac habitasse platea dictumst. Etiam lobortis, 
                        tortor in molestie consequat, enim quam rhoncus odio, 
                        eu bibendum velit purus quis justo.
                    </p> 
                </div>
                <div class ="button-container">
                    <div class="rounded-square" id="emergency-stop">
                        <h3>STOP ROBOT</h3>
                    </div>
                    <div class="circle" id="home-robot">
                        <h3>Home Robot</h3>
                    </div>
                </div>
                                                
            </div>
        
            <div class="right">
                <div class="top">
                    <h2>Sensor Data</h2>
                    <div class="sensor-data-container">
                        <div class="chart-container sensor-data">
                            <div class="humidity-chart-container data-display">
                                <div class="chart-container">
                                    <canvas id="humidity-canvas" class="chart"></canvas>
                                </div>
                                <div id="current-humidity" class="humidity-chart-container current-data"></div>
                            </div>
                            <div class="temperature-chart-container data-display">
                                <div class="chart-container">
                                    <canvas id="temperature-canvas" class="chart"></canvas>
                                </div>
                                <div id="current-temp" class="temperature-chart-container current-data"></div>
                            </div>
                            <div class="pressure-chart-container data-display">
                                <div class="chart-container">
                                    <canvas id="pressure-canvas" class="chart"></canvas>
                                </div>
                                <div id="current-pressure" class="pressure-chart-container current-data"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <h2>Most Recent Images</h2>
                    <div class="image-container">
                        <div class="rgb-image-container image-container i"> <!-- I am using stand in images -->
                            <div class="rgb-image image"></div>
                            <h3>RGB Image</h3>
                        </div>
                        <div class="hs-image-container image-container i"> <!-- I am using stand in images -->
                            <div class="hs-image image"></div>
                            <h3>Hyperspectral Image</h3>
                        </div>
                        <div class="od-image-container image-container i"> <!-- I am using stand in images -->
                            <div class="od-image image"></div>
                            <h3>Object Detected Image</h3>
                        </div>
                        <!-- Images from: https://research.csiro.au/robotics/early-plant-disease-detection-using-hyperspectral-imaging-combined-with-machine-learning-and-iot/ -->
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <script src="{{ url_for('static', filename= '/Website/sensorCharts.js')}}"></script>
</body>
</html>
