<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="style.css"-->
    <link rel="stylesheet" href="{{url_for('static', filename='Front End/Website/style.css')}}">
    <title>CSUN ARCS Astro Cultivator</title>
</head>
<body>
    <div class = "container-all">
        <div class="container-main">
            <div class="left">
                <h1>Astro Cultivator Dashboard</h1>
                <div class="top">
                    <div class ="element-container">
                        <div class = "rounded-square" id="Emergency-Stop">
                            <h3>EMERGENCY STOP</h3>
                        </div>
                        <div class="circle" id="Home-Robot">
                            <h3>Home Robot</h3>
                        </div>
                        <div class="rectangle">
                            <h3>Plant Status Update</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec facilisis tellus quis est pretium, nec varius lacus fermentum. 
                                Fusce mollis molestie lectus vitae condimentum. 
                                In hac habitasse platea dictumst. Etiam lobortis, 
                                tortor in molestie consequat, enim quam rhoncus odio, 
                                eu bibendum velit purus quis justo.
                            </p> 
                        </div>
                    </div>
                        <div class="serialTerminalRect">
                            <h3>Serial Terminal</h3>
                            <div class="input-area">
                                <textarea rows="4" cols="50" placeholder="Enter Command Here..."></textarea>
                            </div>
                        </div>

                    
                </div>
                   
        
                    
                <div class="bottom">
                    <h2>Most Recent Images</h2>
                    <div class="image-container">
                        <div class="rgb-image-container image-container"> <!-- I am using stand in images -->
                            <div class="rgb-image image"></div>
                            <h3>RGB Image</h3>
                        </div>
                        <div class="hs-image-container image-container"> <!-- I am using stand in images -->
                            <div class="hs-image image"></div>
                            <h3>Hyperspectral Image</h3>
                        </div>
                        <div class="hs-image-container image-container"> <!-- I am using stand in images -->
                            <div class=""></div>
                            <h3>Object Detected Image</h3>
                        </div>
                        <!-- Images from: https://research.csiro.au/robotics/early-plant-disease-detection-using-hyperspectral-imaging-combined-with-machine-learning-and-iot/ -->
                    </div>
                </div>
            </div>
            <div class="right">
                <h2>Sensor Data</h2>
                    <div class="chart-container">

                        <div class="humidity-chart-container chart-container">
                            <canvas id="humidity-canvas" class="chart"></canvas>
                        </div>

                        <div class="temperature-chart-container chart-container">
                            <canvas id="temperature-canvas" class="chart"></canvas>
                        </div>

                        <div class="pressure-canvas chart-container">
                            <canvas id="pressure-canvas" class="chart"></canvas>
                        </div>
                    
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <script src="./scripts/sensorCharts.js"></script>
</body>
</html>
