/*      General             */
html, body, .container-main {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    padding: 0 25px 0 25px;
    background-image: url("bg_leaf.png");
}
.container-main, .hero-image, .left, .button-container, .button-container .rounded-square, 
.button-container .circle, .right, .sensor-data-container, .image-container,
.data-display, .current-data, .image, .i  {
    display: flex;
}
.hero-image, .button-container, .button-container .rounded-square, .button-container .circle, 
.image-container, .data-display, .current-data {
    align-items: center;
    justify-content: center;
}
.left, .right, .image, .i {
    height: 100%;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
}
.hero-image {
    width: 100%;
    
}
.container-main {
    flex-direction: column;
}
.hero-image, img {
    height: 10%;
}
img {
    height: 60%;
    margin: 25px;
}
/*      Left Column         */
.left {
    width: 32.4%;
    height: 80vh;
    margin-right: 2%;
}

.plant-status, .serial-terminal {
    height: 35%;
}

    /*      Serial Terminal     */
    .serial-terminal {
        background-color: #305286;
        padding-left: 10px;
        color: white;
    }
        .serial-terminal .input-area textarea, .plant-status p {
            margin: 0 15px;
        }
    
        .input-area{
            height: 50%;
        }
        textarea{
            width: 95%;
            height: 100%;
        }
    /*      Plant Status        */
    .plant-status {
        background-color: rgba(255, 255, 255, 60%);
        padding: 10px;
        height: 55%;
    }
    /*      Buttons             */
    .button-container {
        position: absolute;
        bottom: 25px;
        height: 6.5%;
    }
        .button-container .rounded-square, .button-container .circle {
            padding: 10px;
            margin: 0 15px 15px 15px;
        } 
        .button-container :hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        .button-container .rounded-square {
            background-color: crimson;
            border-radius: 15%;
        }
        .rounded-square:hover {
            background-color: rgb(145, 15, 48);
        }
        .button-container .circle {
            background-color: blue;
            color: white;
            border-radius: 50%;
        }
        .circle:hover {
            background-color: rgb(0, 0, 165);
        }


/*      Right Column        */
.right {
    width: 65.6%;
    align-items: center;
}
    /*      Sensor Data         */
    .top {
        width: 100%;
        height: 70%;
    }
    .sensor-data-container {
        margin: 0;
    }
    .sensor-data{
        border: groove #c8c8c8 5px;
    }
    .chart-container {
        padding-right: 25px;
        background-color: white;
        }
        .top .chart-container {
            height: 100%;
            width: 90%;
            align-items: center;
            justify-content: space-between;
        } 
        .current-data {
            text-align: center;
            height: 100px;
            font-size: 25px;
            width: 10%;
            border: solid 1px black;
            background-color: #98ced3;
        }
    /*      Images              */
    .bottom {
        height: 25%;
        width: 85%;
        background-color: rgba(202, 227, 221, 0.55);
        padding: 25px 0 25px 0;
    }
        .image-container {
            height: 92%;
        }
        .bottom h2 {
            margin-bottom: 10px;
        }
        .image-container > div {
            width: 90%;
            height: 90%;
            background-position: center;
        }
        .hs-image {
            background-image: url("image2hyperspectral.jpg");
        }
        
        .rgb-image {
            background-image: url("image1plant.jpg")
        }
        .od-image {
            background-image: url("Obj_Det_img.png");
        }
        .image {
            background-size: contain;
            background-repeat: no-repeat;
        }