#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/pictures/grow-bed.jpeg");
    background-position: center;
    background-size: cover;
    height: 76vh;
    padding: 15px;
    overflow: hidden;
}
.impact-container {
    font-family: 'Nanum Gothic Coding', monospace;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.impact-container > h1 {
    font-size: 3em;
    letter-spacing: 0.5em;
    filter: drop-shadow(0 0 0 0.3rem black);
}
.impact-div {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.impact-text-container { 
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.impact-text {
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 1em;
}
.impact-img {
    filter: brightness(0) invert(1);
    margin-right: 3%;
}
.big-word {
    display: block;
    font-size: 10vh;
}
.logo-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.logo-div-logo {
    max-height: 150px;
    max-width: 20%;
    object-fit: contain;
}