html, body {
    margin: 0;
    overflow-x: hidden;
}
#navbar {
    display: inline;
}
#navbar> ul{
    list-style: none;
}
.nav-link {
    display: inline;
}
.member-bio {
    display: none;
}
.member-container:hover .member-bio {
    display: block;
}