#team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76vh;
    width: 100%;
    background-color: #BFAFCF;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#team-container{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 23%);
    grid-template-rows: repeat(3, 130px);
    column-gap: 15%;
}
.member-container {
    width: 15vw;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-self: center;
}
.pfp {
    width: 100%;
    height: auto;
}